<!DOCTYPE html>
<html>

<head>
    <title>Laitevarausjärjestelmä</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

 <!--jQuery UI-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <style>
        body {
            background: #171717;
        }

        .bg-white {
            background: white;
            min-height: 60vh;
            padding: 2em;
        }

        .bg-white h2 {
            color: black;
        }

        h1 {
            color: white;
        }
        .valittuRivi {
            background:lightgreen;
        }
        .valittuRivi:hover {
            background:green;
        }
        .hidden {
            display:none;
        }
    </style>
 
</head>

<body>
    <h5 id='nyKayttaja'>Terve {{loggedUser}}, tason {{loggedUserTaso}} käyttäjä</h5> <br>

    <table id="taulu">

    </table>
    <div class="container">
        <h1>Laitevarausjärjestelmä</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#yleis">Yleisnäkymä</a></li>
            <li class="nav-item"><a class="nav-link"  data-toggle="tab" href="#laite">Laitteet</a></li>
            <li class="nav-item"><a class="nav-link"  data-toggle="tab" href="#varaus">Varaukset</a></li>
            <li class="nav-item"><a class="nav-link"  data-toggle="tab" href="#hallinta">Lainauksien hallinta</a></li>
            <li class="nav-item"><a class="nav-link"  data-toggle="tab" href="#tiedot">Käyttäjätiedot</a></li>
            <li class="nav-item"><a class="nav-link"  href="/signout">Uloskirjautuminen</a></li>
        </ul>
        <div class="bg-white">

            <div class="tab-content">
                <div id="yleis" class="tab-pane container active">
                    <h2>Yleisnäkymä</h2>
                    <div id="yleisTeksti"></div>
                </div>
                <div id="laite" class="tab-pane container fade">
                    <h2>Laitteet</h2>
                    <div id="laiteTeksti"></div>
                </div>
                <div id="varaus" class="tab-pane container fade">
                    <h2>Varaukset</h2>
                    <div id="varausTeksti"></div>
                </div>
                <div id="hallinta" class="tab-pane container fade">
                    <h2>Hallinta</h2>
                    <div id="hallintaTeksti"></div>
                </div>
                <div id="tiedot" class="tab-pane container fade">
                    <h2>Käyttäjätiedot</h2>
                    <div id="tiedotTeksti"></div>
                </div>

            </div>

</body>

<script>
    $('#yleisTeksti').load('/yleis');
    $('#laiteTeksti').load('/laite');
    $('#varausTeksti').load('/varaus');
    $('#hallintaTeksti').load('/hallinta');
    $('#tiedotTeksti').load('/tiedot');
</script>

</html>